body {
  font-family: 'Roboto', sans-serif;
  background: #97c6e5;
}

.pelota {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: brown;
  /* transition-property: width, height, transform; */
  transition: 2s;
}

.pelota.a {
  position: absolute;
  background: royalblue;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}

.pelota.b {
  position: absolute;
  background: rgb(127, 167, 46);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}

.pelota:hover {
  width: 200px;
  height: 200px;
}

.canasta {
  border: 1px solid red;
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canasta.transform {
  transform: rotate(15deg) skew(20deg) translate(100px) scale(.5);
}

.canasta:hover .pelota.a {
  width: 200px;
  height: 200px;
  left: calc(50% - 200px);
  font-size: 3em;
}

.canasta:hover .pelota.b {
  width: 200px;
  height: 200px;
  right: calc(50% - 200px);
  font-size: 3em;
}

.container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
}

.otroContainer {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  
}




.cuadrado.a {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.b {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.c {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.d {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.e {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.f {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.g {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.h {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}

.cuadrado.i {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  transition: .5s;
}



.container:hover .cuadrado.a {
  /* transform: rotateZ(90deg); */
  /* transform: rotateY(90deg); */
  /* transform: rotateX(90deg); */

  transform: rotate3d(1,1,1, 90deg);
  /* transform: translate(100px,100px); */
}

.container:hover .cuadrado.b {
  /* transform: translate(x); */
  transform: translate(-100px);
  /* transform: translate(x,y); */
}

.container:hover .cuadrado.c {
  /* transform: translate(x,y); */
  transform: translate(100px,50px);
}

.container:hover .cuadrado.d {
  /* transform: translate(x,y); */
  /* transform: translateX(100px); */
  /* transform: translateY(150px); */
  transform: translateZ(-150px);
  /* transform: translate3d(-200px,-200px,-200px); */
}

.container:hover .cuadrado.e {
  /* transform: scale(x. y); */
  /* transform: scale(Ancho. Alto); */
  /* transform: scale(0= 0% size - 1 = 100% size); */
  transform: scale(3,.5);
}

.container:hover .cuadrado.f {
  transform: skew(45deg,45deg);
}

.otroContainer:hover .cuadrado.g {
  
  transform-origin: bottom;
  transform: rotateX(90deg);
}

.otroContainer:hover .cuadrado.h {
  
  transform-origin: left top;
  transform: rotateZ(60deg);
}

.otroContainer:hover .cuadrado.i {
  
  transform-origin: bottom right;
  transform: rotateZ(60deg);
}

.containerA {
  border: 1px solid red;
  
  width: 100%;
}

.cuadrado.j {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  animation-name: cuadrado;
  animation-duration: 2s;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  /* animation-timing-function: ease; */
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function: ease-in-out; */
  /* animation-timing-function: linear; */
  animation-timing-function: cubic-bezier(.5,-0.48,.13,1.37);
  /* animation-direction: reverse; */
  animation-direction: alternate;
  /* animation-fill-mode: forwards; */
  /* animation-play-state: running; */
  position: relative;
}

@keyframes cuadrado {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 240px);
  }
}

.containerA:hover .cuadrado.j {
  animation-play-state: paused;
  opacity: .5;
  background-color: bisque;
}

/* MULTIPLES ANIMACIONES */


.containerB {
  border: 1px solid red;
  border-bottom: 2px solid red;
  height: 350px;
  width: 100%;
}

.cuadrado.k {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 1s; */
  animation-name: cuadrado, rebote;
  animation-duration: 3s,300ms;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  /* animation-timing-function: ease; */
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function: ease-in-out; */
  /* animation-timing-function: linear; */
  /* animation-timing-function: cubic-bezier(.5,-0.48,.13,1.37); */
  /* animation-direction: reverse; */
  animation-direction: alternate;
  /* animation-fill-mode: forwards; */
  /* animation-play-state: running; */
  position: relative;
  animation-timing-function: linear, ease-in-out;
}

@keyframes cuadrado {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 240px);
  }
}

@keyframes rebote {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150px) scale(1,.8);
  }
}

.containerB:hover .cuadrado.k {
  animation-play-state: paused;
  opacity: .5;
  background-color: bisque;
}

/* ANIMACIONES CON JS*/


.containerC {
  border: 1px solid red;
  border-bottom: 2px solid red;
  height: 350px;
  width: 100%;
}

.circulo {
  width: 200px;
  height: 200px;
  background: #71b601;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 1s; */
  animation-name: circulo, rebote;
  animation-duration: 3s,.3s;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite,20;
  /* animation-timing-function: ease; */
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function: ease-in-out; */
  /* animation-timing-function: linear; */
  /* animation-timing-function: cubic-bezier(.5,-0.48,.13,1.37); */
  /* animation-direction: reverse; */
  animation-direction: alternate;
  /* animation-fill-mode: forwards; */
  /* animation-play-state: running; */
  position: relative;
  animation-timing-function: linear, ease-in-out;
}

@keyframes circulo {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 240px);
  }
}

@keyframes escalera {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(350px);
  }
}

@keyframes rebote {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150px) scale(1,.8);
  }
}

.containerC:hover .circulo {
  animation-play-state: paused;
  opacity: .5;
  background-color: bisque;
}